.clearfix ( ) {
	*zoom:1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.ir( ) {
	display: block;
	text-indent: -9999px;
	position: relative;
	height:1em;
	width:1em;
}
.icon ( @glyph: "\e001" ) {
	font-family: 'WooCommerce';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin:0;
	text-indent: 0;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	text-align: center;
	content: @glyph;
}

.wp-list-table.subscriptions {
	th {
		width: auto !important;
	}

	a.paid {
		background-color: #339933;
		border-color: 1px solid #339933;
		border-radius: 4px;
		color: white;
		display: block;
		font-size: 10px;
		font-weight: bold;
		line-height: 2.2em;
		margin: 0;
		padding: 0 2px;
		text-align: center;
		text-shadow: 0 1px 0 rgba(0,0,0,0.3);
		text-transform: uppercase;
		white-space: nowrap;
	}

	a.failed {
		background-color: #C00;
		border-color: 1px solid #C00;
		border-radius: 4px;
		color: white;
		display: block;
		font-size: 10px;
		font-weight: bold;
		line-height: 2.2em;
		margin: 0;
		padding: 0 2px;
		text-align: center;
		text-shadow: 0 1px 0 rgba(0,0,0,0.3);
		text-transform: uppercase;
		white-space: nowrap;
	}
}

#woocommerce-additional-product-images {
	.inside {
		margin: 0;
		padding: 0;

		.add_additional_product_images {
			padding: 0 12px 12px;
		}

		#additional_product_images_container {
			padding: 0 0 0 9px;

			ul {
				.clearfix;

				margin: 0;
				padding: 0;

				li.image, li.add, li.wc-metabox-sortable-placeholder {
					width: 80px;
					float: left;
					cursor: move;
					border: 1px solid #d5d5d5;
					margin: 9px 9px 0 0;
					background: #f7f7f7;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					border-radius: 2px;
					position: relative;
					-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
					-moz-box-sizing: border-box;    /* Firefox, other Gecko */
					box-sizing: border-box;         /* Opera/IE 8+ */

					img {
						width: 100%;
						height: auto;
						display: block;
					}
				}
				li.wc-metabox-sortable-placeholder {
					border: 3px dashed #dddddd;
					position: relative;

					&:after {
						.icon( "\e00c" );
						font-size:2.618em;
						line-height: 72px;
						color: #ddd;
					}
				}
				ul.actions {
					position: absolute;
					top:-8px;
					right: -8px;
					padding: 2px;
					display: none;
					
					li {
						float: right;

						margin: 0 0 0 2px;
						a {
							width: 1em;
							height:1em;
							margin: 0;
							height: 0;
							display: block;
							overflow: hidden;
							&.tips {
								cursor: pointer;
							}
						}

						a.view {
							.ir;
							font-size:1.4em;
							&:before {
								.icon( "\e00c" );
								background-color: #000;
								color: #fff;
							}
						}

						a.delete {
							.ir;

							font-size:1.4em;

							&:before {
								.icon( "\e013" );
								color:white;
								background-color: #000;
								-webkit-border-radius:100%;
								border-radius:100%;
								box-shadow:0 1px 2px rgba(0,0,0,0.2);
							}

							&:hover:before {
								background-color: #a00;
							}
						}
					}
				}

				li:hover ul.actions {
					display: block;
				}
			}
		}
	}
}